body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 15px;
    color: darkslategray;
}

a:hover {
    background-color: darkcyan;
    color: white;
    transition-duration: 0.5s;
}

#banner {
    background-image: url('../images/img1.jpeg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner_headline h1 {
    color: grey;
    font-size: 50px;
    text-shadow: 0px 1px 0px darkslategrey;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color: white;
    font-size: 21px;
    text-shadow: 0px 1px 0px black;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    color: aliceblue;
    padding: 20px;
}

.banner1 {
    background-color: rgb(82, 82, 212);
}
.banner2 {
    background-color: rgb(44, 44, 153);
}
.banner3 {
    background-color: rgb(27, 27, 161);
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a {
    border: 1px solid white;
    padding: 10px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}

#geral {
    display: flex;
    justify-content: center;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_body {
    margin-top: 10px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: black;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 5px;
    background-color: rgb(60, 60, 212);
    margin-top: 10px;
}

#rodape {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

@media (max-width:800px) { 
    .menu{
        display: flex;
        justify-content: space-around;
    }
    nav ul, nav li {
        font-size: 0.9em;
        margin-bottom: 2px;
    }
    nav a {
        padding: 5px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .banner_headline h1{
        height: auto;
        flex-direction: column;
    }
    .banner_headline h2{
        height: auto;
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    #geral{
        padding: 20px;
    }
    #rodape{
        flex-direction: column;
        padding: 20px;
    }
}